.trip-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    /* grid-column: 1/11; */
}

#rate-box {
    grid-column: 1/11;
    grid-row: 1/5;
    z-index: -1;
}

#rate-img {
    width: 100%;
}

#rate-content {
    grid-column: 4/9;
    
}

#rate-title {
    font-size: xx-large;
}



